/*
    2023-11-05 rpncalcweb.css by heinrich elsigan 
*/
body {
}


div {
    line-height: normal;
    vertical-align: middle;
    /*
        text-align: center;
        align-content: center;
        align-self: center;
        background-color: black;
    */
}

    div.rpnDiv {
        width: 100%;
        min-width: 360pt;
        height: 84%;
        min-height: 240pt;
        border-style: double;
        border-color: white;
        border-spacing: 2pt;
        border-width: 2pt;
        background-color: lightgray;
        /* 
            align-self: center;
            align-content: center;
            text-align: center;
            line-height: normal;        
            font-size: medium;
            table-layout: fixed;
            inset-block-start: initial;
            inset-block-start: auto;
        */
    }

    div.rpnDivHeader {
        width: 100%;
        min-width: 320pt;
        height: 36pt;
        min-height: 36pt;
        align-content: center;
        line-height: normal;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-style: none;
        border-spacing: 0px;
        background-repeat: no-repeat;
    }

    div.rpnDivFooter {
        width: 100%;
        text-align: center;
        background-color: black;
        align-content: center;
        font-size: medium;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-style: none;
        table-layout: fixed;
        inset-block-start: initial;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    }

table {
    width: 56%;
    min-width: 256pt;
    height: 56%;
    min-height: 270pt;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-style: none;
    background-color: lightgray;
    border-spacing: 0px;
    background-repeat: no-repeat;
}

    table.rpnTbl {
        width: 256pt;
        min-width: 256pt;
        height: 270pt;
        min-height: 270pt;
        align-content: center;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        background-color: lightgray;
        border-style: none;
        border-spacing: 0px;
        background-repeat: no-repeat;
    }

tr {
    width: 56%;
    min-width: 256pt;
    height: 27pt;
    min-height: 27pt;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-style: none;
    border-spacing: 0pt;
    border-width: 0pt;
    background-color: lightgray;
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
}

    tr.rpnTr {
        /* width: 72%; */
        width: 256pt;
        min-width: 256pt;
        height: 27pt;
        min-height: 27pt;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-style: none;
        border-spacing: 0px;
        border-width: 0px;
        background-color: lightgray;
        background-repeat: no-repeat;
        /*  background-size: 100% 100%; */
    }


td {
    width: 32pt;
    min-width: 32pt;
    height: 27pt;
    min-height: 27pt;
    text-align: center;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-style: none;
    border-spacing: 0px;
    border-width: 0px;
    background-repeat: no-repeat;
    background-color: lightgray;
    /* background-size: 100% 100%; */
}

    td.rpnTd {
        width: 32pt;
        min-width: 32pt;
        height: 27pt;
        min-height: 27pt;
        text-align: center;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-style: none;
        border-spacing: 0px;
        border-width: 0px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-color: lightgray;
    }


    td.gainsboroTd {
        width: 32pt;
        min-width: 32pt;
        height: 27pt;
        min-height: 27pt;
        text-align: center;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-style: none;
        border-spacing: 0px;
        border-width: 0px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-color: gainsboro;
    }

    td.azureTd {
        width: 32pt;
        min-width: 32pt;
        height: 27pt;
        min-height: 27pt;
        text-align: center;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-style: none;
        border-spacing: 0px;
        border-width: 0px;
        /* background-repeat: no-repeat; */
        background-size: 100% 100%;
        background-color: azure;
    }

    td.mistyroseTd {
        width: 32pt;
        min-width: 32pt;
        height: 27pt;
        min-height: 27pt;
        text-align: center;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-style: none;
        border-spacing: 0px;
        border-width: 0px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-color: mistyrose;
    }

    td.funckeyId {
        width: 32pt;
        min-width: 32pt;
        height: 27pt;
        min-height: 27pt;
        text-align: center;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-style: none;
        border-spacing: 0px;
        border-width: 0px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-color: moccasin;
    }

    td.salmonTd {
        width: 32pt;
        min-width: 32pt;
        height: 27pt;
        min-height: 27pt;
        text-align: center;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-style: none;
        border-spacing: 0px;
        border-width: 0px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-color: salmon;
    }


#textbox10, #textbox9, #textbox8, #textbox7, #textbox6, #textbox5, #textbox4, #textbox3, #textbox2, #textbox1 {
    border-style: outset;
    width: fit-content;
}

#textbox0 {
    border-style: inset;
    width: fit-content;
}

img {
    width: 32pt;
    min-width: 32pt;
    height: 27pt;
    min-height: 27pt;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-style: none;
    border-spacing: 0px;
    border-width: 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

    img.rpnImg {
        width: 32pt;
        min-width: 32pt;
        height: 27pt;
        min-height: 27pt;
        visibility: visible;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-style: none;
        border-spacing: 0pt;
        border-width: 0pt;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        z-index: 100;
        /* backface-visibility: revert; */
    }

    img.rpnImgHeader {
        width: 240pt;
        min-width: 240pt;
        height: 32pt;
        min-height: 32pt;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-style: none;
        border-spacing: 0px;
        border-width: 0px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }


