<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- AppDirectory Paths -->
		<add key="AppDirPathUnix" value="C:\Users\heinr\source\chat-ipv6\CSharp\EU.CqrXs\WinForm\SecureChat\"	/>
		<!-- Keep it empty -->
		<add key="AppDirPathWin" value="C:\Users\heinr\source\chat-ipv6\CSharp\EU.CqrXs\WinForm\SecureChat\"	/>

		<add key="ServerIPv4" value="18.101.101.108" />
		<add key="ServerIPv6" value="2a05:d011:cdf:3a00:75d:d95d:136e:9e41" />
		
		<!-- Debug features only, delete them l8r -->
		<add key="CqrEncrypt" value="true" />
		
		<!-- localhost 	-->
		<add key="SendHostHeader" value="localhost" />
		<add key="ServerUrlToPost" value="http://localhost:55430/Default.aspx" />

		<!-- 
		<add key="ServerUrlToPost" value="http://localhost:55430/CqrJd/Default.aspx" />
		-->
		


		<!-- area23.at
		<add key="SendHostHeader" value="area23.at" />
		<add key="ServerUrlToPost" value="https://area23.at/net/CqrJD/Default.aspx" />
		-->

		<!-- cqrxs.eu
		<add key="SendHostHeader" value="ipv4.cqrxs.eu" />
		<add key="ServerUrlToPost" value="https://cqrxs.eu/cqrsrv/cqrjd/R.aspx" />
		-->

</appSettings>
</configuration>