<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>

		<add key="AppDirPathWin" value=":\chat-ipv6\C#\EU.CqrXs.Console\Net48\\" />
		<add key="BaseAppPathWin" value="/" />
		<!-- spusu ipv4 only -->
		<add key="ExternalClientIP" value="41.66.98.107" />
		<add key="ExternalClientIPv4" value="41.66.98.107" />

		<!-- telering ipv6 + ipv4
		    <add key="ExternalClientIP" value="2001:4bc9:a43:3bc5:e440:95b1:349c:f0a" />
    		<add key="ExternalClientIPv4" value="213.142.96.6" />	
	    -->
		<!-- Elsigan A1
		    <add key="ExternalClientIP" value="217.149.169.47" />
        -->
		<add key="ServerIPv4" value="18.101.101.108" />
		<add key="ServerIPv6" value="2a05:d011:cdf:3a00:75d:d95d:136e:9e41" />
		<add key="AppUrl" value="https://srv.cqrxs.eu/v1.3/" />

		<!-- 		
		    <add key="ServerIPv4" value="35.168.3.151" />
		    <add key="ServerIPv6" value="2600:1f18:7a3f:a700::6291" />			
		    <add key="AppUrl" value="https://area23.at/cqrsrv/cqrjd/" />            			
	    -->

		<add key="AppDir" value="/v1.3/" />
		<add key="AppDirPathUnix" value="/var/www/srv.cqrxs.eu/v1.3/" />
		<add key="BaseAppPathUnix" value="/v1.3/" />

		<!-- Persist Message -->
		<add key="PersistMsgIn" value="RedisValkey" />
		<!--
		    <add key="PersistMsgIn" value="AppDomain"/>
			<add key="PersistMsgIn" value="ApplicationState"/>
		    <add key="PersistMsgIn" value="RedisValkey"/>
		    <add key="PersistMsgIn" value="JsonFile"/>
			<add key="PersistMsgIn" value="RedisMS"/>
		-->

		<!-- add key="ValkeyCacheHostPort" value="ipv4.cqrxs.eu:6379" /-->
		<add key="ValkeyCacheHostPort" value="cqrcachecqrxseu-53g0xw.serverless.eus2.cache.amazonaws.com:6379" />

		<add key="SpoolerDirectory" value="/var/spool/cqrsrv/" />

	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		<dependentAssembly>
			<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Microsoft.AspNetCore.Http.Features" publicKeyToken="adb9793829ddae60" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Microsoft.AspNetCore.WebUtilities" publicKeyToken="adb9793829ddae60" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-9.0.0.3" newVersion="9.0.0.3" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-9.0.0.3" newVersion="9.0.0.3" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-9.0.0.3" newVersion="9.0.0.3" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-9.0.0.3" newVersion="9.0.0.3" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Microsoft.Extensions.ObjectPool" publicKeyToken="adb9793829ddae60" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-8.0.11.0" newVersion="8.0.11.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-9.0.0.3" newVersion="9.0.0.3" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Microsoft.Net.Http.Headers" publicKeyToken="adb9793829ddae60" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-9.0.0.3" newVersion="9.0.0.3" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.6.1.0" newVersion="4.6.1.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.6.3.0" newVersion="4.6.3.0" />
		</dependentAssembly>
		<dependentAssembly>
            <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
        </dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
		</dependentAssembly>       
        <dependentAssembly>
            <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
        </dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-9.0.0.3" newVersion="9.0.0.3" />
		</dependentAssembly>		
		<dependentAssembly>
			<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Web.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
		</dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" /></startup></configuration>
