<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<add key="AppDirPathUnix" value="/var/www/cqrsrv/cqrjd/" />
		<!-- Keep it empty --> 
		<add key="AppDirPathWin" value="C:\Users\heinr\source\chat-ipv6\CSharp\EU.CqrXs\WinForm\SecureChat\"	/>

		<!-- cqrxs.eu  
		<add key="ServerIPv4" value="18.101.101.108" />
		<add key="ServerIPv6" value="2a05:d011:cdf:3a00:75d:d95d:136e:9e41" />
		-->
		<!--  v1.6 
		<add key="SendHostHeader" value="cqrxs.eu" />		

		<add key="CqrServiceSoap" value="http://srv.cqrxs.eu/v1.6/CqrService.asmx" />
		<add key="CqrServiceSoap12" value="http://srv.cqrxs.eu/v1.6/CqrService.asmx" />
		<add key="CqrSrvSoap" value="http://srv.cqrxs.eu/v1.6/CqrService.asmx" />
		<add key="CqrSrvSoap12" value="http://srv.cqrxs.eu/v1.6/CqrService.asmx" />
		-->
		<!--

		<add key="CqrServiceSoap" value="http://srv.cqrxs.eu/v1.5/CqrService.asmx" />
		<add key="CqrServiceSoap12" value="http://srv.cqrxs.eu/v1.5/CqrService.asmx" />
		<add key="CqrSrvSoap" value="http://srv.cqrxs.eu/v1.5/CqrService.asmx" />
		<add key="CqrSrvSoap12" value="http://srv.cqrxs.eu/v1.5/CqrService.asmx" />
		--> 

		<!-- cqrxs.eu service test stage 

		<add key="CqrServiceSoap" value="http://srv.cqrxs.eu/v1.5.2/CqrService.asmx" />
		<add key="CqrServiceSoap12" value="http://srv.cqrxs.eu/v1.5.2/CqrService.asmx" />
		<add key="CqrSrvSoap" value="http://srv.cqrxs.eu/v1.5.2/CqrService.asmx" />
		<add key="CqrSrvSoap12" value="http://srv.cqrxs.eu/v1.5.2/CqrService.asmx" />
		-->

		<!-- cqrxs.eu service 
			<add key="SendHostHeader" value="cqrxs.eu" />

			<add key="CqrServiceSoap" value="http://srv.cqrxs.eu/v1.2/CqrService.asmx" />
			<add key="CqrServiceSoap12" value="http://srv.cqrxs.eu/v1.2/CqrService.asmx" />
			<add key="CqrSrvSoap" value="http://srv.cqrxs.eu/v1.3/CqrService.asmx" />
			<add key="CqrSrvSoap12" value="http://srv.cqrxs.eu/v1.3/CqrService.asmx" />
		-->
		<!-- localhost -->
		<add key="ServerIPv4" value="127.0.0.1" />
		<add key="ServerIPv6" value="::1" />

		<add key="SendHostHeader" value="localhost" />

		<add key="CqrServiceSoap" value="http://localhost:55431/CqrService.asmx" />
		<add key="CqrServiceSoap12" value="http://localhost:55431/CqrService.asmx" />
		<add key="CqrServiceSoapv4" value="http://localhost:55431/CqrService.asmx" />
		<add key="CqrServiceSoapv6" value="http://localhost:55431/CqrService.asmx" />
		
		<!-- 
		<add key="ServerUrlToPost" value="http://localhost:55430/CqrJd/Default.aspx" /> 
		-->

		<!-- area23.at 
		<add key="ServerIPv4" value="35.168.3.151" />
		<add key="ServerIPv6" value="2600:1f18:7a3f:a700::6291" />	
		
		<add key="SendHostHeader" value="area23.at" />
		<add key="ServerUrlToPost" value="https://area23.at/net/CqrJD/Default.aspx" />
		
		<add key="CqrServiceSoap" value="https://area23.at/cqrsrv/cqrjd/CqrService.asmx" />
		<add key="CqrServiceSoap12" value="https://area23.at/cqrsrv/cqrjd/CqrService.asmx" />
		<add key="CqrServiceSoapv4" value="http://area23.at/cqrsrv/cqrjd/CqrService.asmx" />
		<add key="CqrServiceSoapv6" value="http://virginia.area23.at/cqrsrv/cqrjd/CqrService.asmx" />
		-->
	</appSettings>
</configuration>