<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AppDirPathUnix" value=""	/>
		<!-- Keep it empty -->
		<add key="AppDirPathWin" value="C:\Users\heinr\source\chat-ipv6\CSharp\EU.CqrXs\WinForm\SecureChat\"	/>
		
		<!-- localhost
		<add key="ServerUrlToPost" value="http://localhost:55430/CqrJD/Default.aspx" />
		<add key="SendHostHeader" value="localhost" />
		-->

		<!-- area23.at
		<add key="SendHostHeader" value="area23.at" />
		<add key="ServerUrlToPost" value="https://area23.at/net/CqrJD/Default.aspx" />
		-->

		<!-- cqrxs.eu -->
		<add key="SendHostHeader" value="cqrxs.eu" />
		<add key="ServerUrlToPost" value="https://cqrxs.eu/net/CqrJD/Default.aspx" />
		
	</appSettings>
</configuration>