<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--
		For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.
	-->
	<system.web>
		<customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.7.2"/>
		<httpRuntime targetFramework="4.7.2" maxRequestLength="134217728" executionTimeout="3600"/>
	</system.web>
	<appSettings>
		<!-- Windows Path & Directory Settings -->
		<add key="AppDirPathWin" value="S:\chat-ipv6\C#\EU.CqrXs.Srv\" />
		<add key="BaseAppPathWin" value="/" />
		<!-- spusu ipv4 only -->
		<add key="ExternalClientIP" value="2001:4bc9:81c:71bf:85dc:6dd1:9786:8859"/>
		<add key="ExternalClientIPv4" value="217.149.170.65"/>
		<!-- telering ipv6 + ipv4
			<add key="ExternalClientIP" value="2001:4bc9:a43:3bc5:e440:95b1:349c:f0a" />
			<add key="ExternalClientIPv4" value="213.142.96.6" />  
		-->		
		<add key="ServerIPv4" value="18.101.101.108" />
		<add key="ServerIPv6" value="2a05:d011:cdf:3a00:75d:d95d:136e:9e41" />
		<add key="AppUrl" value="http://localhost:55430/" />
		<add key="AppDir" value="/" />
		<!-- srv.cqrxs.eu/v1.6/ 
			<add key="AppUrl" value="https://srv.cqrxs.eu/v1.6/" />
			<add key="AppDir" value="/v1.6/" />
		-->
		<!--     
			<add key="ServerIPv4" value="35.168.3.151" />
			<add key="ServerIPv6" value="2600:1f18:7a3f:a700::6291" />      
			<add key="AppUrl" value="https://area23.at/cqrsrv/cqrjd/" />                  
		-->		
		<add key="AppDirPathUnix" value="/var/www/srv.cqrxs.eu/v1.6/" />
		<add key="BaseAppPathUnix" value="/v1.6/" />
		<!-- add key="ValkeyCacheHostPort" value="ipv4.cqrxs.eu:6379" /-->
		<add key="ValkeyCacheHostPort" value="cqrcachecqrxseu-53g0xw.serverless.eus2.cache.amazonaws.com:6379" />
		<add key="RedisValkeyCache" value="cqrcachecqrxseu-53g0xw.serverless.eus2.cache.amazonaws.com:6379" />
		<!-- 			
			<add key="ValkeyCacheHostPort" value="ec2-18-101-101-108.eu-south-2.compute.amazonaws.com:6379"/>
			<add key="RedisValkeyCache" value="ec2-18-101-101-108.eu-south-2.compute.amazonaws.com:6379" />
		-->				
		
		<add key="RedisValkeySsl" value="true" />
		<!-- Persist Message -->
		<add key="PersistMsgIn" value="RedisValkey" />
		<!--
			<add key="PersistMsgIn" value="AppDomain"/>
			<add key="PersistMsgIn" value="ApplicationState"/>
			<add key="PersistMsgIn" value="RedisValkey"/>
			<add key="PersistMsgIn" value="JsonFile"/>
		-->
		<add key="SpoolerDirectory" value="/var/spool/cqrsrv/" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.3" newVersion="9.0.0.3" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" culture="neutral" publicKeyToken="adb9793829ddae60" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.3" newVersion="9.0.0.3" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" culture="neutral" publicKeyToken="adb9793829ddae60" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.3" newVersion="9.0.0.3" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.IO.Pipelines" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.3" newVersion="9.0.0.3" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Channels" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.3" newVersion="9.0.0.3" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
			</dependentAssembly>
		</assemblyBinding>		
	</runtime>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>	
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="134217728" />
			</requestFiltering>
		</security>
		
	</system.webServer>
</configuration>